body {
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    }
    
h1 {
    color: navy;
    background-color: lightblue;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 5px solid navy;
    }

body, html {
    height: 100%;
    }
      
.bg {
    /* The image used */
    background-image: url("polygons-modified-blue.png");
    float: right;
    width: 10%;
    height: 100%;
    }