body {
    background-color: whitesmoke;
    font-family: 'Arial', sans-serif;

    }
    
h1 {
    color: navy;
    background-color: lightblue;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 5px solid navy;
    font-weight: bold;
    font-style: italic;
    }

body, html {
    height: 100%;
    }
      
.bg {
    /* The image used */
    background-image: url("polygons-modified-blue.png");
    float: right;
    width: 10%;
    height: 100%;
    margin-top: 0px;
    margin-right: 0px;
    }