body {
    background-color: whitesmoke;
    }
    
h1 {
    color: navy;
    background-color: lightblue;
    margin-left: 20px;
    }

body, html {
    height: 100%;
    }
      
.bg {
    /* The image used */
    background-image: url(".\src\img\polygons-modified-blue.png");
    
    /* Full height */
    height: 100%;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }